# Node
node_modules/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# Env
.env

# Builds / caches
dist/
build/
coverage/
.cache/
tmp/
.tmp/
public/main.js
public/main.js.map
public/js/**/*.js
public/js/**/*.js.map
public/shared/**/*.js
public/shared/**/*.js.map

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp


